# Data Science Tools and Ecosystem

Introduction about this notebook-
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
(Major things we learned in this notebook)
- Some popular languages for Data Science
- some common libraries used by Data Scientists
- Tools used by Data Scientists
- Arithematic Expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pytorch
3. SciPy
4. Pandas
5. Matplotlib

table of Data Science tools

| Data Science Tools |
| --- |
| R-Studio | 
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

Evaluation of Arithmetic Expressions - Arithmetic expressions return numeric values. For example: 3 0 / 6 30 / 6 30/6. Evaluation of Relational Expressions - Relational expressions is used to compare two operands. For example: ( a + b ) > = ( c ∗ d ) (a + b) >= (c * d) (a+b)>=(c∗d).

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

## Author
Paragi Chauhan